 /*body{font-size: 1.4rem;}*/
/*html{font-size: 62.5%;}*/
html,body{width:100%; overflow-x:hidden;}
a,button,input,textarea{-webkit-appearance: none;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);outline: none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);/*-webkit-user-select: none;*/font-family:"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", 'sans-serif';padding: 0;margin: 0;word-break:break-word;}
a{text-decoration: none;}
.ub{display:flex-box ! important;display:-webkit-box ! important; display: flex ! important;display: -webkit-flex!important;justify-content: space-around;}
.ub.ub-ver{flex-direction: column;-webkit-flex-direction: column;}
.ub.ub-ac{-webkit-box-align: center;align-items: center ! important;-webkit-align-items:center ! important;}
.ub.ub-ad{-webkit-box-align:start;align-items: flex-start;-webkit-align-items: flex-start;}
.ub.ub-ae{-webkit-box-align:end;align-items: flex-end;-webkit-align-items: flex-end;}
.ub.ub-ast{-webkit-box-align: stretch;align-items: stretch;-webkit-align-items: stretch;}
.ub.ub-wrap {-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap; }
.ub.ub-wrap>*{}
.ub.ub-start{justify-content: flex-start;-webkit-justify-content: flex-start;}
.ub.ub-end{justify-content: flex-end;-webkit-justify-content: flex-end;}
.ub.ub-center{justify-content: center;-webkit-justify-content: center;}
.ub.ub-between{justify-content: space-between;-webkit-justify-content: space-between;}
.ub.ub-around{justify-content: space-around;-webkit-justify-content: space-around;}
.ub.ub-cs{align-content: flex-start;-webkit-align-content: flex-start;}
.ub.ub-ce{align-content: flex-end;-webkit-align-content: flex-end;}
.ub.ub-cc{align-content: center;-webkit-align-content: center;}
.ub.ub-ca{align-content: space-around;-webkit-align-content: space-around;}
.ub.ub-cst{align-content: stretch;-webkit-align-content: stretch;}
.ub.ub-cst{align-content: stretch;-webkit-align-content: stretch;}
.ub>*{display: block;}
.ub.ub-cb{align-content: space-between;-webkit-align-content: space-between;}
.ub .ub-f1{-webkit-box-flex: 1 ! important;flex: 1 ! important;-webkit-flex:1 ! important;position: relative;}
.ub .ub-f1>.scrollbox{position: absolute;top:0;left: 0;width: 100%;height: 100%;}
.ub .ub-f1 .noOver{position: absolute;width: 100%;}
.ub.ub-ac .ub-f1 .noOver{position: absolute;transform: translateY(-50%);-webkit-transform: translateY(-50%);width: 100%;}
.ub .ub-f2{-webkit-box-flex: 2 ! important;flex: 2 ! important;-webkit-flex:2 ! important;position: relative;}
.clearfix:after{content: '';display: table;width: 100%;clear: both;}
.ub .ub-f1.top{align-self:flex-start;}
.p-10{padding: 1rem;}
.p-20{padding: 2rem;}
.p-15{padding: 1.5rem;}
.pt-15{padding-top: 1.5rem;}
.p-tb-20{padding-top: 2rem;padding-bottom: 2rem;}
.p-tb-5 {padding-top: 0.5rem !important;padding-bottom: 0.5rem !important;}
.p-tb-15{padding-top: 1.5rem !important;padding-bottom: 1.5rem !important;}
.p-lr-10{padding-left: 1rem;padding-right:1rem;}
.p-lr-15{padding-left: 1.5rem !important;padding-right:1.5rem !important;}
.pl-15{padding-left:1.5rem;}
.pt-10{padding-top: 1rem;}
.pt-5{padding-top: 0.5rem;}
.pt-20{padding-top: 2rem;}
.pb-5{padding-bottom:0.5rem;}
.pb-10{padding-bottom: 1rem;}
.pb-15{padding-bottom: 1.5rem;}
.pb-20{padding-bottom:2rem;}
.pl-10{padding-left: 1rem !important;}
.pr-10{padding-right:1rem ;}
.p-tb-10{padding-bottom: 1rem;padding-top:1rem;}
.m-10{margin: 1rem;}
.mt-5{margin-top:0.5rem;}
.mt-10{margin-top: 1rem;}
.mb-10{margin-bottom: 1rem;}
.mb-15{margin-bottom: 1.5rem;}
.mb-20{margin-bottom: 2rem;}
.mb-5{margin-bottom: 0.5rem !important;}
.ml-10{margin-left: 1rem;}
.ml-5{margin-left: 0.5rem;}
.mr-10{margin-right:1rem ;}
.mr-5{margin-right:0.5rem ;}
.mr-15{margin-right: 1.5rem;}
.m-tb-10{margin-bottom: 1rem;padding-top:1rem;}
.m-lr-10{margin-left: 1rem;margin-right:1rem;}
.text-12{font-size: 1.2rem !important;line-height: 1.6rem;}
.text-10{font-size: 1rem;line-height: 1.4rem;}
.text-14{font-size: 1.4rem !important;line-height: 1.8rem;}
.text-15{font-size: 1.5rem;line-height: 1.8rem;}
.text-16{font-size: 1.6rem;line-height: 2rem;}
.text-18{font-size: 1.8rem !important;line-height: 2.2rem;}
.text-20{font-size:2rem;line-height: 2.4rem;}
.text-22{font-size: 2.2rem !important;line-height: 2.8rem;}
.text-0{color: #000;}
.text-4{color: #444;}
.text-8{color: #888;}
.text-white{color: #fff !important;}
.text-center{text-align: center;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.text-normal{font-weight: normal;font-style: normal;}
.text-justify{text-align: justify;}
.text-ellipsis{text-overflow:ellipsis;white-space: nowrap;overflow: hidden; display:block;}
.bg-white{background: #fff !important;}
.bb-1{position:relative;}
.bb-1:after{content: "";position: absolute;left: 0;bottom: -1px;width: 100%;height: 1px;background-image:linear-gradient(0deg, transparent 50%, #e6e6e6 50%);background-repeat:repeat-x;background-size:1px 1px;}
.bb-10{border-bottom: 1rem solid #f0f0f0;}
.bt-1{position:relative;}
.bt-1:before{content: "";position: absolute;left: 0;top: 0;width: 100%;height: 1px;background-image:linear-gradient(0deg, transparent 50%, #e6e6e6 50%);background-repeat:repeat-x;background-size:1px 1px;}
.br-1{position: relative;}
.br-1:after{content: "";position: absolute;right: -1px;width:1px;top:0rem;bottom:0rem; background-image:linear-gradient(90deg, transparent 50%, #e6e6e6 50%);background-repeat:repeat-y;background-size:1px 1px;}
.line-h-20{line-height: 2rem;}
.line-h-24{line-height: 2.4rem;}
.opacity-5{opacity: 0.5;}
.w-100{width: 100%;box-sizing: border-box;}
.max-w-100{max-width:100%;box-sizing:border-box;}
.fixed-top{position: fixed;top:0;left: 0;width: 100%;box-sizing: border-box;z-index: 100;}
.fixed-bottom{position: fixed;bottom:0;left: 0;width: 100%;box-sizing: border-box;z-index: 100;}
.float-l{float: left;}
.float-r{float: right;}
.shadow{box-shadow: 0 0 8px #ddd;z-index: 1;}
input,textarea{ }
.height-100vh{height: 100vh;}
.round{border-radius: 50%;overflow: hidden;}
.display-b{display:block;}
.display-ib{display:inline-block;}
.br-3{border-radius: 0.3rem;}

@media only screen and (max-width: 374px) {
    html{font-size: 9px !important;line-height: 0.9rem;}
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
    html{font-size: 10px !important;line-height: 1rem;}
}
@media only screen and (min-width: 414px)  {
    html{font-size: 11px !important;line-height: 1.2rem;}
}
